h1{
    color:aqua
    
}
*{
    background-color: darkmagenta;
    color:darksalmon;
    
}

.greed{
    display:flex;
    justify-content: space-evenly;
    flex-wrap:wrap ;

}
.footer{
    display:flex;
    justify-content: flex-end;
}